{% extends "layout/basic.html" %}

{% block css %}

<link rel="stylesheet" href="/static/web/css/account.css">
<style>
    .error-mag{
        color: red;
        position: absolute;
    }
</style>

{% endblock %}

{% block content %}

<div class="account">
    <div class="title">用户注册</div>
    <form id="form" method="post" novalidate>
        {% csrf_token%}
        {% for field in form %}
        {% if field.name == 'code'%}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="row">
                <div class="col-xs-7">
                    {{field}}
                    <span class="error-mag"></span>
                </div>
                <div class="col-xs-5">
                    <input type="button" id="smsbtn" class="btn btn-default" value="点击获取验证码" >
                </div>

            </div>
        </div>
        {% else %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{field.label}}</label>
            {{field}}
            <span class="error-mag"></span>
        </div>
        {% endif %}
        {% endfor %}

        <div class="row">
            <div class="col-xs-3">
                <input type="button" id="submit" class="btn btn-primary" value="注 册">
            </div>

        </div>
    </form>
</div>

{% endblock %}

{% block js%}
<script>
    $(function () {
        btnyan();
        btnzhuce();
    })

    function btnyan() {
        $('#smsbtn').click(function () {
            $('.error-mag').empty();

            var code = $('#id_code').val();
            var email=$('#id_email').val();
            $.ajax({
                url: '/web/send/sms/',
                type: 'post',
                data: {'code':code,'email':email},
                dataType: 'JSON',
                success: function (res) {
                    if(res.status){
                        alert('发送成功')
                        countdown();

                    }else {
                        alert('发送失败')
                        $.each(res.error,function (key,value){
                            $('#id_'+key).next().text(value[0]);
                        })
                    }
                }
            })
        })
    }

    function btnzhuce(){
        $('#submit').click(function (){
            $('.error-mag').empty();
            $.ajax({
                url:'/web/register/',
                type:'post',
                data: $('#form').serialize(),
                dataType: 'JSON',
                success:function (res){
                    if(res.status){
                        alert('注册成功')
                        location.href=res.data;
                    }else{
                        $.each(res.error,function (key,value){
                            $('#id_'+key).next().text(value[0]);
                        })
                    }
                }
            })
        })
    }

    //定时器
    function countdown(){
        var $smsbtn=$('#smsbtn')
        $smsbtn.prop('disabled',true)
        var time =60;
        var remind=setInterval(function (){
            $smsbtn.val(time+'秒重新发送');
            time=time-1;
            if (time<1){
                clearInterval(remind);
                $smsbtn.val('点击获取验证码').prop('disabled',false);
            }
        },1000)
    }
</script>

{% endblock %}